body {
    background-image: url("../images/fundo-login.jpg");
    background-size: cover;
    background-position: center;

    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
}

.caixa-login {
    background-color: rgb(245 245 245);
    width: 350px;
    text-align: center;

    padding: 30px;
    border-radius: 8px;
}

.caixa-login img {
    display: block;
    margin: 0 auto 20px auto;
    width: 180px;
    height: auto;
}

