<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Chamados</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


<div class="caixa-login">

    <div class="cabecalho-login">
        <img src="/images/Logo-uninove.png" alt="Logo UNINOVE">
    </div>

    <h1>Sistema de Chamados</h1>
    <h2>Login</h2>

    <form>

        <input type="email" id="email" placeholder="Digite seu E-mail" aria-label="E-mail">

        <br><br>

        <input type="password" id="senha" placeholder="Digite sua senha" aria-label="senha">

        <br><br>

        <button type="submit">Entrar</button>

    </form>

</div>

</body>

</html>
