<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Chamados</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


<div class="caixa-login">

    <img src="/images/logo-uninove.png" alt="Logo UNINOVE">

    <h1>Sistema de Chamados</h1>
    <h2>Login</h2>

    <form>

        <label for="email">E-mail:</label>
        <input type="email" id="email" placeholder="Digite seu E-mail" required>

        <br><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" placeholder="Digite sua senha">

        <br><br>

        <button type="submit">Entrar</button>

    </form>

</div>

</body>

</html>
